click
click-didyoumean
click-plugins
click-repl
coverage
fastapi
fastapi-cli
fastapi-utils
flake8
flake8-bugbear
flake8-colors
flake8-comprehensions
flake8-import-order
flake8-print
flake8-typing-imports
gunicorn
httpx
mypy
mypy-extensions
numpy
onnxruntime
parameterized
pep8-naming
pre-commit
pydantic
pydantic_core
pyproject-api
pytest
pytest-env
pytest-xdist
tox
types-python-slugify
types-requests
types-setuptools
uvicorn
uvloop
